<a href="https://colab.research.google.com/github/1360837/BART/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%8A%A4%ED%84%B0%EB%94%94/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%9D%91%EC%9A%A9_%EC%8A%A4%ED%84%B0%EB%94%94_1%ED%9A%8C%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

__파이썬 참고 자료__
================
1. [점프 투 파이썬](https://wikidocs.net/book/1)

2. [파이썬 자습서](https://docs.python.org/ko/3/tutorial/index.html)

마크다운 [Markdown](https://www.heropy.dev/p/B74sNE)
-----------------------------------------

- 빠르고 가볍게 발표 자료 제작 가능

- Latex을 하용하여 수식 표현 가능

- 표, 목록, 인용구 활용 가능

- Git 및 협업 친화적

- 슬라이드 모드 지원(---을 사용해서 슬라이드 구분)

- 지원 가능 플랫폼 및 프로그램이 다양함(일반 블로그, 워드프레스, 슬랙, 노션 등)

[Git Hub](https://github.com "github")
---------------------------------------

- 코드 버전 관리

- 협업 및 팀워크 강화

- 포트폴리오 관리 (README.md를 활용해 프로젝트 설명)

- 백업 및 클라우드 저장소 역할(코랩에서는 필요 x)

- 다양한 개발 도구와 연동됨.

[백준](https://www.acmicpc.net "baekjoon")
-------------------------------------------

1. 회원가입

2. 본인의 아이디를 스터디 톡방에 공유

3. 그룹내의 문제집에 담긴 문제 풀기
  - 소속 스터디 문제집 문제만 풀면 됨
  - 그 외의 문제는 개인의 자유

점프 투 파이썬 02장
===================

02-1 숫자형
-----------

 항목 | 파이썬 사용 예
---|:---:
 정수 | 123, -345, 0
 실수 | 123.45, -1234.5, 3.4e10
 8진수 | 0o34, 0o25
 16진수 | 0x2A, 0xFF

###1. 숫자형은 어떻게 만들고 사용할까?

In [ ]:
# 정수형

a = 123
b = -178
a = 0

In [ ]:
# 실수형

a = 1.2
a = -3.45

In [ ]:
# 8진수(octal)

a = 0o177

print(a)

oct(a) # 코랩은 코드 마지막 줄의 값을 출력해줌. (print 문을 넣지 않아도 값 확인 가능)

127

'0o177'

In [ ]:
# 16진수(hexadecimal)

a = 0x8ff
b = 0xABC

print(a, b)

print(hex(a), hex(b))

2303 2748
0x8ff 0xabc

>`bin()`, `oct()`, `hex()`라는 내장함수 제공.

이 함수를 통해서 숫자를 각 진수 형태의 문자열로 변환 가능

__다른 진수의 문자열을 숫자형으로 변환하기__

`bin()`, `oct()`, `hex()`로 변환한 문자열들을 다시 숫자로 변환하기

>`int()`함수에 진수의 base값을 추가 인자로 넘겨주기

In [ ]:
a = 0x8ff
print(a)

a = hex(a)
print(a)

a = int(a, 16)
print(a)

2303
0x8ff
2303

###2. 숫자형을 활용하기 위한 연산자

In [ ]:
# 사칙 연산

a = 3
b = 4
print(a + b)
print(a - b)
print(a * b)
print(a / b)

7
-1
12
0.75

In [ ]:
# x의 y제곱을 나타내는 **연산자

a = 3
b = 4
print(a ** b)
a^b #^는 bit 연산 XOR에 사용되는 연산자

81

7

In [ ]:
# 나눗셈 후 나머지를 리턴하는 % 연산자

print(7 % 3)

print(3 % 7)

1
3

In [ ]:
# 나눗셈 후 몫을 리턴하는 // 연산자

print(7 / 4)

print(7 // 4)

1.75
1

In [ ]:
# 복합 연산자 +=, -=, %=, /=, //=, ^=, **= 등

a = 1

a = a + 1
print(a)

a += 1
print(a)

2
3

##02-2 문자열 자료형

###1. 문자열은 어떻게 만들고 사용할까?

In [ ]:
# 큰따옴표로 양쪽 둘러싸기
"Hello World"

# 작은따옴표로 양쪽 둘러싸기
'Python is fun'

# 큰따옴표 3개를 연속으로 써서 양쪽 둘러싸기
"""
Life is too short,
You need python
"""

# 작은 따옴표 3개를 연속으로 써서 양쪽 둘러싸기
'''
Life is too short,
You need python
'''

Hello World

###2. 문자열 안에 작은따옴표나 큰따옴표를 포함시키고 싶을 때

In [ ]:
# 문자열에 작은따옴표 포함하기

food = "Python's favorite food is perl"
print(food)

Python's favorite food is perl

In [ ]:
food = 'python's favorite food is perl'
print(food)

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-9-898d3cf594f0>, line 1)

In [ ]:
# 문자열에 큰따옴표 포함하기

say = '"python is very easy." he says.'
print(say)

"python is very easy." he says.

In [ ]:
# 역슬래시를 사용해서 작은따옴표와 큰따옴표를 문자열에 포함하기

food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."

print(food)
print(say)

Python's favorite food is perl
"Python is very easy." he says.

###3. 여러 줄인 문자열을 변수에 대입하고 싶을 때

In [ ]:
# 줄을 바꾸기 위한 이스케이프 코드 \n 삽입하기

multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

In [ ]:
# 연속된 작은따옴표 3개 또는 큰따옴표 3개 사용하기

multiline = '''
Life is too short
You need python
'''

print(multiline)

multiline = """
Life is too short
You need python
"""

print(multiline)

Life is too short
You need python


Life is too short
You need python

#####이스케이프 코드란?

프로그래밍할 때 사용할 수 있도록 미리 정의해 둔 '문자 조합'

| 코드  | 설명 |
|------|------|
| `\n` | 문자열 안에서 줄을 바꿀 때 사용 |
| `\t` | 문자열 사이에 탭 간격을 줄 때 사용 |
| `\\` | `\`를 그대로 표현할 때 사용 |
| `\'` | 작은따옴표(`'`)를 그대로 표현할 때 사용 |
| `\"` | 큰따옴표(`"`)를 그대로 표현할 때 사용 |
| `\r` | 캐리지 리턴(줄 바꿈 문자, 커서를 현재 줄의 가장 앞으로 이동) |
| `\f` | 폼 피드(줄 바꿈 문자, 커서를 현재 줄의 다음 줄로 이동) |
| `\a` | 벨 소리(출력할 때 PC 스피커에서 '삑' 소리가 난다) |
| `\b` | 백 스페이스 |
| `\000` | 널 문자 |

이 중에서 활용 빈도가 높은 것은 `\n`, `\t`, `\\`, `\'`, `\"`이다. 나머지는 프로그램에서 잘 사용하지 않는다.

###4. 문자열 연산하기

In [ ]:
# 문자열 더해서 연결하기

head = "Python"
tail = " is fun!"

str = head + tail

print(str)

Python is fun!

In [ ]:
# 문자열 곱하기

a = "python"

a * 2

'pythonpython'

In [ ]:
# 문자열 곱하기를 응용하기

print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

###5. 문자열 길이 구하기

In [ ]:
a = "Life is too short"

len(a)

17

###6. 문자열 인덱싱과 슬라이싱

In [ ]:
a = "Life is too short, You need Python"

a[3]

'e'

In [ ]:
# 문자열 인덱싱 활용하기

a = "Life is too short, You need Python"

print(a[0], a[12], a[-1]) # -부호를 붙이면 뒤에서 부터 센 위치 / -0 = 0 이기 때문에 -1 부터 시작

L s n

In [ ]:
# 문자열 슬라이싱

a = "Life is too short, You need Python"

b = a[0] + a[1] + a[2] + a[3]
print(b)

print(a[0:4]) # a[시작번호 : 끝 번호] / 끝 번호에 해당하는 문자는 포함하지 않음.

Life
Life

In [ ]:
# 문자열을 슬라이싱하는 방법

print(a[19:]) # 끝 번호 생략 시 시작 번호부터 문자열의 끝까지

print(a[:17]) # 시작 번호 생략 시 처음부터 끝 번호까지

print(a[:]) # 시작 번호와 끝 번호를 생략하면 처음부터 끝까지

print(a[19:-7]) # - 기호 사용 가능

You need Python
Life is too short
Life is too short, You need Python
You need

In [ ]:
# 슬라이싱으로 문자열 나누기

a = "20010331Rainy"

date = a[:8]
weather = a[8:]

print(date)
print(weather)

20010331
Rainy

In [ ]:
a = "20230331Rainy"

year = a[:4]
date = a[4:8]
weather = a[8:]

print(year)
print(date)
print(weather)

2023
0331
Rainy

####Pithon 문자열을 Python으로 바꿀려면?

In [ ]:
a = "Pithon"
a[1]

'i'

In [ ]:
a[1] = y # 문자열은 변경 불가능한 자료형

NameError: name 'y' is not defined

In [ ]:
 a = a[:1] + 'y' + a[2:]

 print(a)

Python

###7. 문자열 포매팅이란?

>문자열 안에 어떤 값을 삽입하는 방법

###8. 문자열 포매팅 따라 하기

In [ ]:
# 숫자 바로 대임

"I eat %d apples." % 3

'I eat 3 apples.'

In [ ]:
# 문자열 바로 대입

"I eat %s apples." % "five"

'I eat five apples.'

In [ ]:
# 숫자 값을 나타내는 변수로 대입

number = 3
"I eat %d apples." % number

'I eat 3 apples.'

In [ ]:
# 2개 이상의 값 넣기

number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day) # 괄호 안에 쉼표로 구분

'I ate 10 apples. so I was sick for three days.'

###9. 문자열 포맷 코드

| 코드  | 설명 |
|------|------|
| `%s` | 문자열(String) |
| `%c` | 문자 1개(character) |
| `%d` | 정수(Integer) |
| `%f` | 부동소수(floating-point) |
| `%o` | 8진수 |
| `%x` | 16진수 |
| `%%` | Literal % (문자 `%` 자체) |

In [ ]:
"Error is %d%." % 98

ValueError: incomplete format

In [ ]:
"Error is %d%%." % 98

'Error is 98%.'

In [ ]:
# %s 는 어떤 형태의 값이든 변환해 넣을 수 있다

print("I have %s apples" % 3)
print("rate is %s" % 3.234)

I have 3 apples
rate is 3.234

###10. 포맷 코드와 숫자 함께 사용하기

In [ ]:
# 정렬과 공백

print("%10s" % "hi")
print("%-10sjane." % "hi")

        hi
hi        jane.

In [ ]:
# 소수점 표현하기

print("%0.4f" % 3.42134234)
print("%10.4f" % 3.42134234)

3.4213
    3.4213

In [ ]:
print("%2.3f" % 3.141592)
print("%2.3f" % 1.2) # %x.y에서 x, y는 출력되는 최소 길이

3.142
1.200

###11. format 함수를 사용한 포매팅

In [ ]:
# 숫자 바로 대입하기

"I eat {0} apples".format(3)

'I eat 3 apples'

In [ ]:
# 문자열 바로 대입하기

"I eat {0} apples".format("five")

'I eat five apples'

In [ ]:
# 숫자 값을 가진 변수로 대입하기

number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [ ]:
# 2개 이상의 값 넣기

number = 10
day = "three"
print("I ate {0} apples. so I was sick for {1} days.".format(number, day))

# {0}, {1}과 같은 인덱스 항목이 format 함수의 입력값으로 순서에 맞게 바뀜.
print("I ate {1} apples. so I was sick for {0} days.".format(day, number))

I ate 10 apples. so I was sick for three days.
I ate 10 apples. so I was sick for three days.

In [ ]:
# 이름으로 넣기

"I ate {number} apples. so I was sick for {day} days.".format(number = 10, day = 3)

'I ate 10 apples. so I was sick for 3 days.'

In [ ]:
# 인덱스와 이름을 혼용해서 넣기

"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [ ]:
# 왼쪽 정렬
print("{0:<10}".format("hi"))

# 오른쪽 정렬
print("{0:>10}".format("hi"))

# 가운데 정렬
print("{0:^10}".format("hi"))

hi
        hi
    hi

In [ ]:
# 공백 채우기

print("{0:=^10}".format("hi"))
print("{0:!<10}".format("hi"))

====hi====
hi!!!!!!!!

In [ ]:
# 소수점 표현하기

y = 3.42134234
print("{0:0.4f}".format(y))
print("{0:10.4f}".format(y))

3.4213
    3.4213

In [ ]:
# { 또는 } 문자 표현하기

"{{ and }}".format() # {{}}처럼 2개를 연속해서 사용

'{ and }'

###12. f 문자열 포매팅

In [ ]:
name = '홍길동'
age = '30'

f'나의 이름은 {name}입니다. 나이는 {age}입니다.' # 변수 참조 가능

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [ ]:
# 표현식(계산식과 함께 사용) 지원

f'나는 내년이면 {age * 3}살이 된다.'

'나는 내년이면 303030살이 된다.'

In [ ]:
# 딕셔너리 f 문자열 포매팅 사용법

d = {'name':'홍길동', 'age':30}

f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [ ]:
# 정렬

print(f'{"hi":<10}')
print(f'{"hi":>10}')
print(f'{"hi":^10}')

hi
        hi
    hi

In [ ]:
# 공백 채우기

print(f'{"hi":=^10}')
print(f'{"hi":!<10}')

====hi====
hi!!!!!!!!

In [ ]:
# 소수점 표현

y = 3.42134234
print(f'{y:0.4f}')
print(f'{y:10.4f}')

3.4213
    3.4213

In [ ]:
# { } 문자 그대로 표시

print(f'{{ and }}')

{ and }

In [ ]:
# f 문자열을 사용하여 금액에 콤마(,) 삽입하기

f"난 {1500000:,}원이 필요해"

'난 1,500,000원이 필요해'

###13. 문자열 관련 함수들

In [ ]:
# 문자 개수 세기 - count

a = "hobby"
a.count('b')

2

In [ ]:
# 위치 알려주기 1 - find

a = "Python is the best choice"
print(a.find('b'))
print(a.find('k')) # 찾는 문자가 존재하지 않는다면 -1 반환

14
-1

In [ ]:
# 위치 알려주기 2 - index

a = "Life is too short"
print(a.index('t'))
print(a.index('k')) # 찾는 문자가 존재하지 않는다면 오류 발생

8

ValueError: substring not found

In [ ]:
# 문자열 삽입 - join

print(",".join('abcd'))
print(",".join(['a', 'b', 'c', 'd']))

a,b,c,d
a,b,c,d

In [ ]:
# 소문자를 대문자로 바꾸기 - upper

a = "hi"
print(a.upper())

print(a) # 값 자체가 바뀐건 아님
a = a.upper()
print(a)

HI
hi
HI

In [ ]:
# 대문자를 소문자로 바꾸기 - lower

a = "HI"
a.lower()

'hi'

In [ ]:
# 공백 지우기

a = " hi "
print(a.lstrip()) # 왼쪽 공백 지우기
print(a.rstrip()) # 오른쪽 공백 지우기
print(a.strip()) # 양쪽 공백 지우기

hi
 hi
hi

In [ ]:
# 문자열 바꾸기 - replace

a = "Life is too short Life"
a.replace("Life", "Your leg")

'Your leg is too short Your leg'

In [ ]:
# 문자열 나누기 - split

a = "Life is too short"
print(a.split(' ')) # 공백을 기준으로 문자열 나눔

b = "a:b:c:d"
print(b.split(':')) # ':'을 기준으로 문자열 나눔

['Life', 'is', 'too', 'short']
['a', 'b', 'c', 'd']

##02-3 리스트 자료형

###1. 리스트는 어떻게 만들고 사용할까?

>리스트명 = [요소1, 요소2, 요소3, ...]

대괄호[ ]로 감싸 주고 각 요솟값은 쉼표, 로 구분

In [ ]:
odd = [1, 3, 5, 7, 9]
a = [] # 비어 있는 리스트는 a = list()로 생성할 수 있음.
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

# 리스트 안에는 어떠한 자료형도 포함할 수 있다

###2. 리스트의 인덱싱과 슬라이싱

####리스트의 인덱싱

In [ ]:
a = [1, 2, 3]
print(a)

print(a[0])
print(a[0] + a[2])
print(a[-1])

[1, 2, 3]
1
4
3

In [ ]:
a = [1, 2, 3, ['a', 'b', 'c']]

print(a[0])
print(a[-1])
print(a[3])

print(a[-1][0], a[-1][1], a[-1][2])

1
['a', 'b', 'c']
['a', 'b', 'c']
a b c

In [ ]:
# 삼중 리스트에서 인덱싱하기

a = [1, 2, ['a', 'b', ['Life', 'is']]]

print(a[2][2][0])

Life

####리스트의 슬라이싱

In [ ]:
a = [1, 2, 3, 4, 5]
print(a[0:2])

a = "12345"
print(a[0:2])

[1, 2]
12

In [ ]:
a = [1, 2, 3, 4, 5]
b = a[:2]
c = a[2:]

print(b)
print(c)

[1, 2]
[3, 4, 5]

In [ ]:
# 중첩된 리스트에서 슬라이싱하기

a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
print(a[2:5])
print(a[3][:2])

[3, ['a', 'b', 'c'], 4]
['a', 'b']

###3. 리스트 연산하기

In [ ]:
# 리스트 더하기(+)

a = [1, 2, 3]
b = [4, 5, 6]

a + b

[1, 2, 3, 4, 5, 6]

In [ ]:
# 리스트 반복하기 (*)

a = [1, 2, 3]

a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
# 리스트 길이 구하기

a = [1, 2, 3]

len(a) # 문자열, 리스트 외에 튜플 딕셔너리에도 사용할 수 있는 함수

3

####초보자가 범하기 쉬운 리스트 연산 오류

In [ ]:
a = [1, 2, 3]
a[2] + "hi"

TypeError: 'str' object is not callable

In [ ]:
str(a[2]) + "hi"

TypeError: 'str' object is not callable

###4. 리스트의 수정과 삭제

In [ ]:
# 리스트 값 수정하기

a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

In [ ]:
# del 함수를 사용해 리스트 요소 삭제하기

a = [1, 2, 3]
del a[1]
a

[1, 3]

>del 객체

- del 함수는 파이썬 자체적으로 가지고 있는 삭제함수
- 객체는 파이썬에서 사용되는 모든 자료형

In [ ]:
a = [1, 2, 3, 4, 5]

del a[2:]
a

[1, 2]

###5. 리스트 관련 함수

In [ ]:
# 리스트에 요소 추가하기 - append

a = [1, 2, 3]

a.append(4)
print(a)

a.append([5,6])
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6]]

In [ ]:
a.append(6)
a # a = [1, 2, 3, [5, 6], 5, 6] ?

[1, 2, 3, 4, [5, 6], 6]

In [ ]:
# 리스트 정렬 - sort

a = [1, 4, 3, 2]
a.sort()
print(a)

a = ['a', 'c', 'b']
a.sort()
print(a)

[1, 2, 3, 4]
['a', 'b', 'c']

In [ ]:
# 리스트 뒤집기 - reverse

a = ['a', 'c', 'b']
a.reverse()
print(a)

['b', 'c', 'a']

In [ ]:
# 인덱스 반환 - index

a = [1, 2, 3]
print(a.index(3))
print(a.index(1))

2
0

In [ ]:
# 리스트에 요소 삽입 - insert

a = [1, 2, 3]
a.insert(0, 4) # a.insert(위치, 값)
print(a)

a.insert(3, 5)
print(a)

[4, 1, 2, 3]
[4, 1, 2, 5, 3]

In [ ]:
# 리스트 요소 제거 - remove

a = [1, 2, 3, 1, 2, 3]
a.remove(3) # remove(x)는 리스트에서 첫 번째로 나오는 x를 삭제
print(a)

a.remove(3)
print(a)

[1, 2, 1, 2, 3]
[1, 2, 1, 2]

In [ ]:
# 리스트 요소 끄집어 내기 - pop

a = [1, 2, 3]
print(a.pop())
print(a)

a = [1, 2, 3]
print(a.pop(1))
print(a)

3
[1, 2]
2
[1, 3]

In [ ]:
# 리스트에 포함된 요소 x의 개수 세기 - count

a = [1, 2, 3, 1]
a.count(1)

2

In [ ]:
# 리스트 확장 - extend

a = [1, 2, 3]
a.extend([4, 5])
print(a)

b = [6, 7]
a.extend(b)
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7]

##02-4 튜플 자료형

###1. 튜플은 어떻게 만들까?

In [ ]:
t1 = ()
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))

tuple

__리스트와 다른 차이점__

- `t2 = (1,)`처럼 1개의 요소만 있어도 반드시 쉼표를 붙여야 한다

- `t4 = 1, 2, 3`처럼 소괄호( )를 생략해도 된다

--------------

둘을 구별해서 사용하는 것이 유리

- 리스트는 값 변경 가능

- 튜플은 값 변경 불가능

- 값이 변하면 안되는 데이터에 튜플을 사용

###2. 튜플의 요솟값을 지우거나 변경하려고 하면 어떻게 될까?

In [ ]:
# 튜플 요솟값을 삭제하려 할 때

t1 = (1, 2, 'a', 'b')

del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
# 튜플 요솟값을 변경하려 할 때

t1 = (1, 2, 'a', 'b')

t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

###3. 튜플 다루기

In [ ]:
# 인덱싱하기

t1 = (1, 2, 'a', 'b')

print(t1[0])
print(t1[3])

1
b

In [ ]:
# 슬라이싱하기

t1 = (1, 2, 'a', 'b')

print(t1[1:])

(2, 'a', 'b')

In [ ]:
# 튜플 더하기

t1 = (1, 2, 'a', 'b')
t2 = (3, 4)

t1 = t1 + t2
print(t1)

(1, 2, 'a', 'b', 3, 4)

In [ ]:
# 튜플 곱하기

t2 = (3, 4)

t3 = t2 * 3
print(t3)

(3, 4, 3, 4, 3, 4)

In [ ]:
# 튜플 길이 구하기

t1 = (1, 2, 'a', 'b')

len(t1)

4

> 튜플은 요솟값을 변경할 수 없기 때문에 sort, insert, remove, pop과 같은 내장 함수가 없다.

##02-5 딕셔너리 자료형

###1. 딕셔너리란?

> Key와 Value를 한 쌍으로 가지는 자료형

- Key를 통해 Value를 얻음

###2. 딕셔너리는 어떻게 만들까?

> {Key1: Value1, Key2: Value2, Key3: Value3, ...}

- Key와 Value의 쌍 여러 개가 { }로 둘러싸여 있음.

- 각 요소는 Key:Value 형태, 쉼표로 구분됨.

In [ ]:
dic = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}

| key   | value         |
|-------|--------------|
| name  | pey          |
| phone | 010-9999-1234 |
| birth | 1118         |

In [ ]:
a = {1: 'hi'}
print(a[1])

a = {'a': [1, 2, 3]}
print(a['a'])

hi
[1, 2, 3]

###3. 딕셔너리 쌍 추가, 삭제하기

In [ ]:
# 딕셔너리 쌍 추가하기

a = {1: 'a'}
a[2] = 'b'
print(a)

a['name'] = 'pey'
print(a)

a[3] = [1, 2, 3]
print(a)

{1: 'a', 2: 'b'}
{1: 'a', 2: 'b', 'name': 'pey'}
{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [ ]:
# 딕셔너리 요소 삭제하기

del a[1]
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

###4. 딕셔너리를 사용하는 방법

- ex) 4명의 사람들 각자의 특기 표현

In [ ]:
{"김연아": "피겨스케이팅", "류현진": "야구", "손흥민": "축구", "점프투": "파이썬"}

In [ ]:
# 딕셔너리에서 Key를 사용해 Value 얻기

grade = {'pey': 10, 'julliet': 99}

print(grade['pey'])
print(grade['julliet'])

10
99

In [ ]:
a = {1: 'a', 2: 'b'}

print(a[1], a[2])

a b

In [ ]:
dic = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}

print(dic['name'])
print(dic['phone'])
print(dic['birth'])

pey
010-9999-1234
1118

__딕셔너리 만들 때 주의할 사항__

딕셔너리에서 Key는 고유한 값

중복되는 Key값 설정 시 하나를 제외한 나머지 값은 무시

In [ ]:
a = {1: 'a', 1: 'b'}

{1: 'b'}

###5. 딕셔너리 관련 함수

In [ ]:
# Key 리스트 만들기 - keys

a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}

print(a.keys())
print(list(a.keys()))

dict_keys(['name', 'phone', 'birth'])
['name', 'phone', 'birth']

In [ ]:
for k in a.keys():
  print(k)

name
phone
birth

In [ ]:
# Value 리스트 만들기 - values

print(a.values())
print(list(a.values()))

dict_values(['pey', '010-9999-1234', '1118'])
['pey', '010-9999-1234', '1118']

In [ ]:
# Key, Value 쌍 얻기 - items

print(a.items())
print(list(a.items()))

dict_items([('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118')])
[('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118')]

In [ ]:
# Key: Value 쌍 모두 지우기 - clear

print(a)
a.clear()
print(a)

{'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
{}

In [ ]:
# Key로 Value 얻기 - get

a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}

print(a.get('name'))
print(a.get('phone'))

pey
010-9999-1234

`a.get('name')`은 `a['name']`과 동일한 표현식

그러나 `a['name']`은 존재하지 않는 키일 경우 *error* 발생

`a.get('name')`은 *None*을 반환

In [ ]:
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}

print(a.get('nokey'))

print(a['nokey'])

None

KeyError: 'nokey'

In [ ]:
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}

print(a.get('foo', 'bar')) # key가 없을 경우 반환할 값 지정

bar

In [ ]:
# 해당 Key가 딕셔너리 안에 있는지 조사하기 - in

a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}

print('name' in a)
print('email' in a)

True
False

##02-6 집합 자료형

###1. 집합 자료형은 어떻게 만들까?

In [ ]:
# set 키워드를 사용해 생성

s1 = set([1, 2, 3])
print(s1)

s2 = set("Hello")
print(s2)

{1, 2, 3}
{'o', 'e', 'H', 'l'}

###2. 집합 자료형의 특징

- 중복을 허용하지 않는다.
  
    - 데이터의 중복을 제거하기 위한 필터로 종종 사용

- 순서가 없다.

    - 인덱싱을 통한 요솟값 획득 불가

In [ ]:
s1 = set([1, 2, 3])
l1 = list(s1)

print(s1)
print(l1)
print(l1[0])

{1, 2, 3}
[1, 2, 3]
1

In [ ]:
t1 = tuple(s1)

print(s1)
print(t1)
print(t1[0])

{1, 2, 3}
(1, 2, 3)
1

###3. 교집합, 합집합, 차집합 구하기

In [ ]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [ ]:
# 교집합 구하기
print(s1 & s2)
print(s1.intersection(s2))

{4, 5, 6}
{4, 5, 6}

In [ ]:
# 합집합 구하기
print(s1 | s2)
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# 차집합 구하기
print(s1 - s2)
print(s1.difference(s2))

{1, 2, 3}
{1, 2, 3}

###4. 집합 자료형 관련 함수

In [ ]:
# 값 1개 추가하기 - add

s1 = set([1, 2, 3])
print(s1)

s1.add(4)
print(s1)

{1, 2, 3}
{1, 2, 3, 4}

In [ ]:
# 값 여러 개 추가하기 - update

s1 = set([1, 2, 3])
print(s1)

s1.update([4, 5, 6])
print(s1)

{1, 2, 3}
{1, 2, 3, 4, 5, 6}

In [ ]:
# 특정 값 제거하기 - remove

s1 = set([1, 2, 3])
print(s1)

s1.remove(2)
print(s1)

{1, 2, 3}
{1, 3}

##02-7 불 자료형

###1. 불 자료형은 어떻게 사용할까?

In [ ]:
a = True
b = False

print(type(a))
print(type(b)) # type(x)는 x의 자료형을 확인하는 파이썬의 내장 함수

<class 'bool'>
<class 'bool'>

In [ ]:
print(1 == 1)
print(2 > 1)
print(2 < 1)

True
True
False

###2. 자료형의 참과 거짓

| 값         | 참 or 거짓 |
|-----------|-----------|
| `"python"` | 참       |
| `""`      | 거짓     |
| `[1, 2, 3]` | 참     |
| `[]`      | 거짓     |
| `(1, 2, 3)` | 참     |
| `()`      | 거짓     |
| `{'a': 1}` | 참     |
| `{}`      | 거짓     |
| `1`       | 참       |
| `0`       | 거짓     |
| `None`    | 거짓     |

- 문자열, 리스트, 튜플, 딕셔너리 등의 값이 비어 있으면 거짓

- 숫자의 값이 0일 때 거짓

- None은 거짓을 뜻함

In [ ]:
a = [1, 2, 3, 4]

while a:
  print(a.pop())

4
3
2
1

In [ ]:
if []:
  print("참")
else:
  print("거짓")

if [1, 2, 3]:
  print("참")
else:
  print("거짓")

거짓
참

###3. 불 연산

In [ ]:
print(bool('python'))
print(bool(''))

print(bool(1 == 1))

True
False
True

##02-8 자료형의 값을 저장하는 공간, 변수

###1. 변수는 어떻게 만들까?

In [ ]:
a = 1
b = 'python'
c = [1, 2, 3]

#변수_이름 = 변수에_저장할_값

###2. 변수란?

> __이름표__가 붙은 상자

  - 변수를 선언하면, 상자(메모리 공간)가 생김

  - 그 상자에 값(데이터)을 넣어두고, 이름표 (변수명)붙이기

In [ ]:
# 변수가 가르키는 메모리 주소 확인

a = [1, 2, 3]
id(a)

132644208444224

###3. 리스트를 복사하고자 할 때

In [ ]:
a = [1, 2, 3]
b = a

print(id(a))
print(id(b))

a is b

132644208531584
132644208531584

True

In [ ]:
a[1] = 4

print(a)

[1, 4, 3]

In [ ]:
print(b)

[1, 4, 3]

####[ : ] 이용하기

In [ ]:
a = [1, 2, 3]
b = a[:]

a[1] = 4

print(a)

[1, 4, 3]

In [ ]:
print(b)

print(id(a), id(b))

[1, 2, 3]
132644208224448 132644208300992

#### copy 모듈 이용하기

In [ ]:
from copy import copy

a = [1, 2, 3]
b = copy(a)

print(id(a), id(b))

b is a

132644387217088 132644208413888

False

In [ ]:
a = [1, 2, 3]
b = a.copy() # 리스트 자료형의 자체 함수

b is a

False

###4. 변수를 만드는 여러가지 방법

In [ ]:
# 튜플로 a, b에 값 대입
a, b = ('python', 'life')
print(a, b)

(a, b) = 'python', 'life'
print(a, b)

# 리스트로 변수 만들기
[a, b] = ['python', 'life']
print(a, b)

# 여러 개의 변수에 같은 값 대입 가능
a = b = 'python'
print(a, b)

python life
python life
python life
python python

In [ ]:
# 두 변수의 값을 매우 간단하게 변경 가능
a = 3
b = 5

a, b = b, a
print(a, b)

5 3

__연습문제__
============

__문제 1: 변수와 숫자형__

다음 조건을 만족하는 코드를 작성하세요.
  - 변수 ___a___와 ***b***를 사용하여 ***result*** 변수를 만든다.
  - ***result***의 값은 **15**가 되어야 한다.

In [ ]:
# 여기에 코드를 작성하세요

print(result) # 출력: 15

15

__문제 2: 문자형__

다음과 같은 결과를 출력하는 코드를 작성하세요
  - 변수 ___text1, text2___를 사용하여 ___result___ 변수를 만든다.


    Hello Python

In [ ]:
# 여기에 코드를 작성하세요

print(result)

Hello Python

__문제 3: 리스트__

다음 코드에서 ___numbers___ 리스트를 조작하여 다음과 같은 결과를 출력하는 코드를 작성하세요.

    [10, 20, 30, 40, 50, 60]

In [ ]:
numbers = [10, 20, 30, 50]

# 여기에 코드를 추가하세요

print(numbers)

[10, 20, 30, 40, 50, 60]

**문제 4: 튜플, 딕셔너리, 집합 활용**

다음 조건을 만족하는 코드를 작성하세요

- 튜플을 사용하여 `(10, 20, 30)`을 변수 ***my_tuple***에 저장

- 딕셔너리를 사용하여 `'name':'Alice', 'age':25`라는 데이터를 my_dict에 저장한다.

- 집합을 사용하여 `{1, 2, 3, 4, 5}`를 my_set에 저장한다.

In [ ]:
# 여기에 코드를 작성하세요

print(my_tuple)  # 출력: (10, 20, 30)
print(my_dict)   # 출력: {'name': 'Alice', 'age': 25}
print(my_set)    # 출력: {1, 2, 3, 4, 5}

(10, 20, 30)
{'name': 'Alice', 'age': 25}
{1, 2, 3, 4, 5}

**문제 5: 튜플과 집합 활용**

다음과 같은 튜플이 주어졌을 때, 중복을 제거하고 오름차순으로 정렬된 리스트를 출력하는 코드를 작성하세요

    my_tuple = (5, 3, 8, 3, 1, 5, 7, 8, 2)

In [ ]:
# 여기에 코드를 작성하세요



print(result)   # 출력: [1, 2, 3, 5, 7, 8]

[1, 2, 3, 5, 7, 8]

__연습문제 정답__
============

__문제 1: 변수와 숫자형__

다음 조건을 만족하는 코드를 작성하세요.
  - 변수 ___a___와 ***b***를 사용하여 ***result*** 변수를 만든다.
  - ***result***의 값은 **15**가 되어야 한다.

In [ ]:
# 여기에 코드를 작성하세요

a = 10
b = 5
result = a + b

print(result) # 출력: 15

15

__문제 2: 문자형__

다음과 같은 결과를 출력하는 코드를 작성하세요
  - 변수 ___text1, text2___를 사용하여 ___result___ 변수를 만든다.


    Hello Python

In [ ]:
# 여기에 코드를 작성하세요

text1 = 'Hello'
text2 = 'Python'
result = text1 + ' ' + text2

print(result)

Hello Python

__문제 3: 리스트__

다음 코드에서 ___numbers___ 리스트를 조작하여 다음과 같은 결과를 출력하는 코드를 작성하세요.

    [10, 20, 30, 40, 50, 60]

In [ ]:
numbers = [10, 20, 30, 50]

# 여기에 코드를 추가하세요

numbers.insert(3, 40)
numbers.append(60)

print(numbers)

[10, 20, 30, 40, 50, 60]

**문제 4: 튜플, 딕셔너리, 집합 활용**

다음 조건을 만족하는 코드를 작성하세요

- 튜플을 사용하여 `(10, 20, 30)`을 변수 ***my_tuple***에 저장

- 딕셔너리를 사용하여 `'name':'Alice', 'age':25`라는 데이터를 my_dict에 저장한다.

- 집합을 사용하여 `{1, 2, 3, 4, 5}`를 my_set에 저장한다.

In [ ]:
# 여기에 코드를 작성하세요

my_tuple = (10, 20, 30)
my_dict = {'name': 'Alice', 'age': 25}
my_set = {1, 2, 3, 4, 5}

print(my_tuple)  # 출력: (10, 20, 30)
print(my_dict)   # 출력: {'name': 'Alice', 'age': 25}
print(my_set)    # 출력: {1, 2, 3, 4, 5}

(10, 20, 30)
{'name': 'Alice', 'age': 25}
{1, 2, 3, 4, 5}

**문제 5: 튜플과 집합 활용**

다음과 같은 튜플이 주어졌을 때, 중복을 제거하고 오름차순으로 정렬된 리스트를 출력하는 코드를 작성하세요

    my_tuple = (5, 3, 8, 3, 1, 5, 7, 8, 2)

In [ ]:
# 여기에 코드를 작성하세요

my_tuple = (5, 3, 8, 3, 1, 5, 7, 8, 2)

result = list(set(my_tuple))
result.sort()
# result = sorted(result)

print(result)   # 출력: [1, 2, 3, 5, 7, 8]

[1, 2, 3, 5, 7, 8]