<a href="https://colab.research.google.com/github/1360837/BART/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B5%90%EC%9C%A1_%EC%9E%90%EB%A3%8C/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%9D%91%EC%9A%A9%EB%B0%98_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###리스트 추가 문법
---
> list [ 시작 인덱스 : 끝 인덱스 : 인덱스 step ]

In [ ]:
# ex

l = [1, 2, 3, 4, 5]

l2 = l[::2] # 처음부터 끝까지 2칸씩
print(l2)

l2 = l[::-1] # 뒤로 1칸씩
print(l2)

[1, 3, 5]
[5, 4, 3, 2, 1]

### 문제 1 : 리스트에 요소 추가하기
---
빈 리스트 `my_list`에 `'apple'`, `'banana'`, `'cherry'`를 차례대로 추가하세요.

In [ ]:
my_list = []

# 여기에 코드를 입력하세요

print(my_list)

###문제 2 : 리스트에서 짝수만 골라 새 리스트 만들기
---
numbers 리스트와 리스트 슬라이싱을 이용하여 짝수만 들어있는 even_numbers 리스트를 만들고 출력하세요.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 여기에 코드를 입력하세요

print(even_numbers)

### 문제 3: 리스트에서 특정 값 삭제하기
---
주어진 리스트에서 remove 함수를 사용하지 말고 `'blue'`를 삭제하세요.

In [ ]:
colors = ['red', 'green', 'blue', 'yellow']

# 여기에 코드를 입력하세요

print(colors)

###문제 4: 딕셔너리에서 값 꺼내기
---
주어진 딕셔너리에서 `'math'`과목의 점수를 꺼내 `math_score` 변수에 저장한 후 출력하세요.

In [ ]:
scores = {'math': 90, 'english': 85, 'science': 95}

# 여기에 코드를 입력하세요

print(math_score)

### 문제5 : 집합에 요소 추가하기
---
주어진 집합에 10을 추가한 후 출력하세요.

In [ ]:
my_set = {1, 2, 3}

# 여기에 코드를 입력하세요

print(my_set)

###문제 6: 과일 정보 정리하기
---
주어진 리스트와 가격표를 활용하여 과일 이름을 키, 가격을 값으로 가지는 `fruit_dict` 딕셔너리를 만드세요.

In [ ]:
fruit_names = ('apple', 'banana', 'cherry')
prices = [1000, 500, 1500] # apple : 1000, banana : 500, cherry : 1500

# 여기에 코드를 입력하세요

print(fruit_dict)